.section-navigator{
    width: 80%;
    margin: auto;
}

.section-navigator ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}
.section-navigator ul li{
    border: 1px solid #4e73df;
    cursor: pointer;
    background-color: #4e73df;
    color: white; 
}